[Desktop Entry]
# Place file here/home/username/.local/share/applications
Type=Application
Name=Osu
Comment=Osu
Icon=/home/username/Downloads/Applications/osu-icon.png
Exec=/home/username/Downloads/Applications/osu.AppImage
Terminal=false
Categories=Osu;game



